#home{
	color:#ffffff;
	background-color:#000000;
	width:125px;
	height:35px;
	text-align: center;
	padding-left:5px;
	margin-left: 4px;
	margin-top: 7px;
	font-size: 25px;
	text-decoration: none;
	padding-right:5px;
}
#more{
	color:#ffffff;
	background-color: #000000;
	width:35px;
	height: 35px;
	margin-left: -2px;
	margin-top: 7px;
	font-size: 25px;
	padding-left: 3px;
	padding-right: 3px;
}
.nav{display: inline;}
#menu{display: none;}
#more{cursor: pointer;}
#more:hover{background-color:#0000ff;}
#menu-toggle{display: none;}
#menu{list-style-type: none;}
#menu-toggle:checked + #menu{display: block;}
.navigation_bar{position: fixed;z-index: 9999;left: -2px;}
#menu li{
	width: 100px;
	margin-top: 2px;
	background-color:#000000;
	font-size: 25px;
	text-align: center;
}
#menu li a{color:#ffffff;text-decoration: none;}
#menu{padding-top: 2px;padding-left: 4px;margin-top: 0;}
#menu li a:hover{color:#00bcd4;}
#test-editormd{}
#upload{background-color:#000000;color:#ffffff;font-size: 25px;width: 100px;border: none;cursor: pointer;}
#upload:hover{background-color:#0000ff;color: #ffffff;}
#upload:active{border: solid 0.5px #0000ff;}
#setting{background-color:#000000;color: #ffffff;font-size: 25px;width: 100px;border: none;cursor: pointer;}
#setting:hover{background-color:#00ff00;color: #000000;}
#setting:active{border: solid 0.5px #0000ff;}
#settingDialog{border: 1px solid;border-radius: 4px;position: fixed;top: 146px;left: 120px;z-index: 10000;padding-top: 3px;padding-bottom: 3px;padding-left: 1px;padding-right: 2px;padding-top: 5px;padding-bottom: 3px;background-color: #ffffff}
#settingDialog li{list-style-type: none;text-align: right;margin-bottom: 8px;}
.buttonDone{background-color: #00bcd4;color: #000000;position: relative;left: 230px;border: 1px solid;border-radius: 4px;cursor: pointer;}
.buttonCancel{background-color: #00bcd4;color: #000000;position: relative;left: 120px;border: 1px solid;border-radius: 4px;cursor: pointer;}